/* CartButton.css (or your preferred CSS file) */

.cart-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4d1601; /* Background color for the button */
    border-radius: 25px;
    padding: 0.75rem 3rem;
    color: white;
    cursor: pointer;
    border: none;
    font: inherit;
    font-weight: bold;
    margin-right: 20%;

  }

  .cart-button:hover,
  .cart-button:active{
    background-color: #2c0d00;
  }
  
  .cart-icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 1rem; /* Space between the icon and label */
  }
  

  
  .cart-count {
    background-color: #b94517; /* Background color for the count badge */
    color: white; /* Text color for the count badge */
    border-radius: 25px; /* Make the count badge circular */
    font-weight: bold;
    padding: 0.25rem 1rem;
    margin-left: 1rem;
    
  }

  .cart-button:hover .cart-count,
  .cart-button:active .cart-count{
    background-color: #92320c;
  }

  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  